body {
    margin: 0;
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    justify-content: space-between;
}



/* Force lists and links to be normal */
ul {
    padding-inline-start: 0;
}

li {
    margin: 0;
    padding: 0;
    list-style: none;
}

a {
    text-decoration: none;
}

.header, .hero-container, .footer {
    background-color: #1F2937;
    color: white;
}

.second-container {
    background-color: #E5E7EB ;
}

/* Make every immediate child of body flexy... */
body > div {
    box-sizing: border-box;
    padding: 15px;
    flex: 1 1 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* but exclude these to grow */
.header, .footer {
    flex: 0 0 90px;
}



 /* ----Here begins the explicit styling inside the header */
.header {
    box-sizing: border-box;
    padding: 15px;
}


.header > ul {
    display: flex;
    gap: 20px;
    justify-content: flex-between;
    flex: 0 1 1200px;
    align-items: center;

}

.header-logo {
    margin-right: auto;
    font-size: 30px;
    font-weight: bold;
}

/* ----Here begins the explicit styling inside the hero-container */
.hero-container {
    display: flex;
    
}

.hero {
    box-sizing: border-box;
    justify-content: space-between;
    flex: 0 1 1200px;
    display: flex;
    gap: 30px;
    align-items: stretch;

}


.hero > .left {
    display: flex;
    flex-direction: column;
    gap: 8px;
    justify-content: space-between;
}

.hero > .left > * {
    margin: 0;
    padding: 0;
}

.hero h1 {
    font-size: 48px;
    font-weight: bold;
}

.hero > .left > button {
    width: 120px;
    height: 35px;
    background-color: rgb(100, 138, 209);
    color: white;
    font-size: bold;
    border-width: 0;
    border-radius: 5px;
}




.hero > .right {
    background-color: gray;
    width: 300px;
    height: 200px;
    flex-shrink: 0;
}


